
 section {
   background-color: #FFDA69;
   width: 100%;
   height: 100%;
   font-size: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3rem;
   font-family: "Indie Flower";
   padding: 250px;
}
 p {
width: 100px;
 }
