secition-1 {
  color: #2325b8;
  border: 5px solid;
}

secition-2 {
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px solid;
}

secition-3 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 5px solid;
}